<h1>Details on:</h1>
<hr>
{{#result}}
    <h2><a href='#/materials/{{id}}' > {{title}} </a></h2>
    <p>
        description: 
        <strong>
            {{#if description}} {{description}} {{else}} none {{/if}}
        </strong>
    </p>
    <a href="#/users/{{users.username}}">{{users.username}}</a>
    <p>created on: {{createdOn}}</p>
    <p>
        <img style="width:250px" src="{{img}}" alt="">
    </p>

    <strong>Comments: </strong>
    <hr>
    {{#if comments}}
        {{#comments}}
            <p>
                from <a href="#/users/{{user.username}}">{{user.username}}</a>
            </p>
            <p>
                &nbsp&nbsp  > {{text}}
            </p>
            <hr>
        {{/comments}}
        {{else}}
        <p>No comments</p>
    {{/if}}
    
    <hr>
{{/result}}
